<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top" style="margin: 200px">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/registration">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Об этой странице...</h2>
                <p class="lead">Сказать особо нечего, приложение крутое, так что у тебя два варианта</p>
                <ul>
                    <li>Регистрируйся, заходи и пользуйся на здоровье</li>
                    <li>Если уже зареган - чего ты ждешь, ты же не просто так регался</li>
                    <li>Соответствующие ссылки сверху на навигационной панели :3</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>

</html>
