<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/registration.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" style="background-color: #ff4040; border-radius: 10px" action="/addGoogle">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google-f mr-2"></i> Sign in with Google</button>
                    </form>
                    <form class="form-signin" style="background-color: #00ff5f; border-radius: 10px" action="/addSpotify">
                        <button class="btn btn-lg btn-flickr btn-block text-uppercase" type="submit"><i class="fab fa-spotify-f mr-2"></i> Sign in with Spotify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>